@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ДЗ1</title>
</head>
<body>
    <div>




        <form action="/Home/Index" method="get">
            <label>GET</label> <input type="text" name="txt1" /> <br />
            <input type="submit" name="operation" value="OK" />
        </form>



        <form action="/Home/Index" method="post">
            <label>POST</label> <input type="text" name="txt" /> <br />
            <input type="submit" name="operation" value="OK" />
        </form>

    </div>
    </body>
